/* login.css */
.login-form {
    max-width: 360px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    padding-bottom: 50px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #004494;
}


.form-group {
    margin-bottom: 1rem; /* 필드 간격 조정 */
}

.form-control {
    margin-bottom: 0.5rem; /* 입력 필드 아래 간격 추가 */
}

button, .btn {
    margin-top: 1rem; /* 버튼 상단 간격 추가 */
    width: 100%; /* 버튼 너비를 꽉 차게 조정 */
}

.btn-secondary {
    margin-top: 0.5rem; /* 두 번째 버튼과의 간격 */
}

form {
    max-width: 400px; /* 폼 최대 너비 설정 */
    margin: auto; /* 폼을 페이지 중앙에 위치 */
}

/* 에러 메시지 스타일링 */
.alert-danger {
    margin-top: 1rem;
}

.buttons{
    padding-top: 20px;
    align-content: space-between;

}
