/* static/css/styles.css */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.navbar-carrot-img {
  height: 24px;
  margin-right: 8px;
  margin-bottom: 2px;
}
