<!--profile.html-->
{% extends 'base.html' %}

{% block content %}
<h1>{{ user.username }}의 프로필</h1>
<p>가입일: {{ user.profile.joined_at }}</p>
<p>팔로워: {{ followers }}명 | 팔로잉: {{ following }}명</p>
{% if user != request.user %}
    <form action="{% url 'accounts:follow_user' user.username %}" method="post">
        {% csrf_token %}
        
            <button type="submit" class="btn btn-primary">팔로우</button>

    </form>
{% endif %}

<h2>내 물품</h2>
<ul>
    {% for post in posts %}
    <li>{{ post.title }}</li>
    {% endfor %}
</ul>

<h2>좋아요 한 물품</h2>
<ul>
    {% for post in favorites %}
    <li>
        <a href="{% url 'products:post_detail' post.id %}">{{ post.title }}</a> - {{ post.price }}원
    </li>
    {% endfor %}
</ul>
{% endblock %}
