<!-- post_detail.html -->
{% extends 'base.html' %}

{% load static %}


{% block content %}
<div class="container">
    <h1>{{ post.title }}</h1>
    <div>
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
        {% else %}
            <img src="{% static 'base.jpeg' %}" alt="Default Image" class="img-fluid">
        {% endif %}
    </div>
    <h5 class="mt-3">{{ post.title }}</h5>
    <p>{{ post.content }}</p>  
    <p>작성자: <a href="{% url 'accounts:user_profile' username=post.user.username %}">{{ post.user.username }}</a></p>  
    <p class="card-text">{{ post.price }} | {{ post.address }}</p>
    <p class="card-text">{{ post.likes }} likes</p>
    <a href="{% url 'products:post_edit' post.id %}" class="btn btn-primary">수정</a>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
        삭제
    </button>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                정말로 삭제하실??
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'products:product_delete' post.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

