<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Sparta Market{% endblock %}</title>
    <link rel="icon" href="{% static 'carrot.jpeg' %}" type="image/jpeg">

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <header>
      <!-- 네비바 -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'carrot.jpeg' %}" alt="Carrot" style="height: 24px; margin-right: 8px; margin-bottom: 2px;">
            Sparta Market
        </a>
        
          {% if user.is_authenticated %}
    <a href="{% url 'products:post_create' %}" class="btn btn-primary">글쓰기</a>
{% else %}
    <p><a href="{% url 'accounts:login' %}" class="btn btn-primary">로그인</a> </p>
{% endif %}


          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{% url 'index' %}"
                  >Home</a
                >
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:user_profile' username=user.username %}">
                    Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:logout' %}"
                  >Logout</a
                >
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:register' %}"
                  >Register</a
                >
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="container mt-4">
      {% block content %}
      <!-- Content goes here -->
      {% endblock %}
    </main>

    <footer class="bg-dark text-light text-center py-3 mt-auto">
      <p>© 2024 Sparta Market. team 18 HJP</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
